/* print-styles.css */

body {
    font-family: 'Times New Roman', serif;
}

@media print {
    /* Paslėpiame nuorodą "Spausdinti" spausdinimo versijoje */
    .print-link {
        display: none;
    }

    /* Išlyginame tekstą kairėje pusėje ir pastraipas padarome viena po kita */
    p, ul, ol {
        text-align: left;
        margin-bottom: 10px;
    }

    /* Paslėpiame paveikslus spausdinimo versijoje */
    img {
        display: none;
    }

    /* Kitos reikiamos pritaikymo spausdinimui taisyklės */
}
